<form action='/'>
<section class='has-text-centered' id='assessment-question-answer-pair'>
  <div class='qa-pair'>
    <div class="field">
      <label class="label">Question</label>
      <div class="control">
        <input class="input qa-question" type="text" placeholder="Text input">
      </div>
    </div>
    <div class="field">
      <label class="label">Answer</label>
      <div class="control">
        <textarea class="textarea qa-answer" rows="10"></textarea>
      </div>
    </div>
  </div>
</section>

 <div class="control">
    <button class="button is-primary has-text-centered" id='submit-assessment'>Submit</button>
    <button class="button is-primary has-text-centered" id='add_another_question'>Add Another</button>
</div>